.navbar {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 3em;
  color: white;
  display: flex;
  background-color: #ffc75f;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid gray;
}

.navbar-header {
  padding-top: 3%;
  padding-bottom: 3%;
}

#navbar-image {
  min-height: 60px;
  min-width: 60px;
  height: 7%;
  width: 7%;
}
