#delete-button {
  border-bottom: #845ec2;
}
#translation-table-div {
  margin-top: 2%;
  margin-bottom: 2%;
}
#profile-translate-div {
  display: flex;
  justify-content: space-between;
}
#profile-header {
  line-height: 10px;
  padding: 10px 0;
}
#translate-button {
  border-bottom: 3px solid #845ec2;
}

#delete-button {
  margin-bottom: 1%;
  border-bottom: 3px solid #845ec2;
}
