#signs-div {
  min-width: 400px;
  min-height: 300px;
  border-radius: 3px;
  border: 2px solid #845ec2;
}

.sign {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border-right: 1px solid #845ec2;
}

#translator-button {
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1.5%;
  border-bottom: 3px solid #845ec2;
  background-color: #ffc75f;
}

#username-profile-div {
  display: flex;
  margin-bottom: 1%;
  justify-content: space-between;
}

#welcome-name {
  line-height: 10px;
  padding: 10px 0;
}

#profile-button {
  border-bottom: 3px solid #845ec2;
}
