#login-button {
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1.5%;
  border-bottom: 8px solid #845ec2;
}

#signup-button {
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1.5%;
  border-bottom: 8px solid #845ec2;
}
