.container {
  padding: 2%;
  margin-top: 5vh;

  border-radius: 22px;
  background-color: white;
}

#root {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #ffc75f 0%,
    #ffc75f 50%,
    #efefee 50%,
    #efefee 100%
  );
}
